:root {
    --text-color: #22252b;
    --bg-color: #ffde00;
    --base-font: "Rockwell W01", "Helvetica Neue", Arial, Helvetica, sans-serif;
    --nav-menu-color: #333333;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 103vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

.main-div {
    position: relative;
    height: inherit;
    width: 74.8vw;
}

/*.header-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

.header-class {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: auto;
    margin: 2.2em auto 5.2em;
    box-sizing: border-box;
    
    font-family: "Time New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.logo {
    display: flex;
    width: 100px;
    height: 26px;
    padding-right: 9px;
    margin-right: 4.2em;
}

.nav-menu-list {
    display: inline-block;
    margin-right: 1.4em;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    color: var(--nav-menu-color);
}

.free-trial {
    background-color:#007dcc;
    border-radius: 4px;
    line-height: 21px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;
    text-align: center;
    padding: 6px 10px;
    color: #ffffff;
}

.log-in {
    border-radius: 4px;
    line-height: 21px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;
    text-align: center;
    padding: 8px 12px;
    border: 0.8px;
}

.section-two {
    display: flex;
    width: inherit;
    height: auto;
    margin: 2em auto 5em;
    box-sizing: border-box;
    justify-content: space-between;
}

.right-column {
    flex-basis: 40%;
    padding-right: 28px;
}

.left-column {
    width: 50%;
}

.motto {
    font-size: 41px;
    line-height: 49.2px;
    text-align: left;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.motto-explanation {
    width: 60%;
    font-size: 17px;
    line-height: 25.5px;
    text-align: left;
    letter-spacing: normal;
}

.start-free-trial-span {
    background-color:#006eb3;
    border-radius: 4px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;
    color: #ffffff;
    margin-top: 25px;
    width: 11em;
    height: 3em;
    justify-content: center;
    align-items: center;
}

.start-free-trial {
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    letter-spacing: normal;
}

.section-three {
    display: flex;
    margin-top: -8em;
    margin-left: -12.1em;
    justify-content: start;
    padding: 0;
    width: 100vw;
    height: auto;
}